body{
    background-color: beige;
}

h1 {
    color: brown;
    text-align: center;
}

p {
    color: darksalmon;
    font-size: 16px;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}